Source: magnum-extras
Priority: optional
Maintainer: Vladimír Vondruš <mosra@centrum.cz>
Build-Depends: debhelper (>= 9), cmake (>= 3.4), magnum-dev
Standards-Version: 3.9.2
Section: libs
Homepage: https://magnum.graphics
Vcs-Git: git://github.com/mosra/magnum-extras.git
Vcs-Browser: https://github.com/mosra/magnum-extras

Package: magnum-extras-dev
Section: libdevel
Architecture: any
Depends: magnum-extras (= ${binary:Version}), magnum-dev
Description: Extras for the Magnum C++11/C++14 graphics engine

Package: magnum-extras
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, magnum
Description: Extras for the Magnum C++11/C++14 graphics engine
