[Desktop Entry]
Type=Application
Version=1.1
Name=Magnum Player
GenericName=Media viewer
Terminal=false
# This should be set because the player doesn't work without a file passed, but
# if I do that, I can't find this in the KDE Open With dialog :(
# NoDisplay=true

# TODO: use %F when it's able to open HORDES of files at once
Exec=magnum-player %f

# Basically everything that Magnum supports can be listed here. A lot of the
# image/x- ones taken from /usr/share/applications/mimeinfo.cache.
# TODO: audio files, once it is able to do that as well
# TODO: DevIlImageImporter knows probably all image formats in existence, list
# TODO: OBJ/MTL is text/plain?! https://stackoverflow.com/a/19304383
# TODO: gltf mimetype?
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/tiff;image/vnd.adobe.photoshop;image/vnd.microsoft.icon;image/vnd.radiance;image/x-dds;image/x-exr;image/x-hdr;image/x-ico;image/x-portable-bitmap;image/x-portable-floatmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-r16;image/x-rgb;image/x-targa;image/x-tga;model/gltf-binary;model/gltf+json;model/stl;model/vnd.collada+xml;model/vnd.opengex;text/plain
